@each $color, $arr in $colors{
  @for $i from 1 through length($arr){
    .text-#{$color}#{$i}{
      color: nth($arr, $i);
      a{
        color: nth($arr, $i);
      }
    }
    .bg-#{$color}#{$i}{
      background-color: nth($arr, $i);
    }
    .border-#{$color}#{$i}{
      border-color: nth($arr, $i) !important;
    }
  }
}