body{
    box-sizing: border-box;
    @extend .bg-light1;
    @extend .text-black1;
    font-family: 'Open Sans', sans-serif;
    @extend .fs-15;
}

h1, h2, h3, h5 {
    font-family: 'Oswald', sans-serif;
}
h2, h3, h5{
    font-weight: 500;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 8px 16px;
}

hr {
    border-bottom: 1px solid rgb(223, 189, 189);
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

.bg-hover-grey:hover{
    background-color: $color-hover-grey;
    @extend .text-black1;
    opacity: 1;
}

.border-none {
    border: none;
}

.border-grey {
    border: 1px solid #ccc;
}

.text-opacity {
    opacity: 0.6;
}

.blog-header {
    position: relative;
}

.blog-title {
    position: absolute;
    top: 50%;
    padding: 12px 24px;
    transform: translate(0%, -50%);
}

.tag-number {
    background: #fff;
    color: #000;
    padding: 0 8px;
}